@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f2f5;      /* Light background */
  --foreground: #111b21;      /* Dark text */

  --primary: #27EAA6;
  --secondary: #0E2B19;
}

.dark {
  --background: #101a20;      /* Dark background */
  --foreground: #e9edef;      /* Light text */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Slim Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px; /* Width for vertical scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar thumb hover color */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Set scrollbar width to thin */
  scrollbar-color: #888 #f1f1f1; /* Thumb and track colors */
}

/* Image Skeleton */
.skeleton-loader {
  background: linear-gradient(90deg, #e0e0e0, #f0f0f0, #e0e0e0);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}